.tasks {
  &-none-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
  }

  &-name {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 1.25rem;
  }

  &-descr {
    color: #fff;
  }
  &-date {
    margin-top: 0.5rem;
    font-size: 0.6rem;
  }
}
