<ion-header>
  <ion-toolbar>
    <ion-title class="i-title">Tasky</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addNewTaskList()">
        <ion-icon name="add-outline" class="add-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="tasksListData">
    <ion-list>
      <ion-item *ngFor="let taskList of tasksListData">
        <ion-label>{{ taskList.name }}</ion-label>
        <ion-note>{{ taskList.description }}</ion-note>
        <ion-buttons slot="end">
          <ion-button (click)="editTaskList(taskList)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="presentConfirmDelete(taskList.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="!tasksListData || tasksListData.length === 0">
    <div class="tasks-none-message">
      <ion-text class="ion-padding">
        <h2>
          No task lists yet,
          <a (click)="addNewTaskList()"
            >add one <ion-icon name="add-outline" class="add-icon"></ion-icon
          ></a>
        </h2>
      </ion-text>
    </div>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToAdminSettings()">
        <ion-icon slot="icon-only" name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addNewTaskList()">
        <ion-icon name="add-outline" class="add-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
