.tasks {
  &-none-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
  }

  &-name {
    font-family: "Roboto", sans-serif;
    color: rgb(185, 226, 245);
    font-size: 1.25rem;
  }

  &-edit-icon {
    margin-left: 1rem;
  }
}
