<ion-header>
  <ion-toolbar>
    <ion-title class="i-title">Oppgaver</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addNewTaskList()">
        <ion-icon name="add-outline" class="add-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let taskList of tasksListData">
    <ion-card>
      <ion-card-header>
        <ion-card-title (click)="editTaskList(taskList)">{{
          taskList.name
        }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ taskList.description }}</ion-card-content>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button
            title="Delete Task List"
            (click)="
              presentConfirmDelete(taskList.id); $event.stopPropagation()
            "
          >
            <ion-icon name="trash-outline" class="trash-icon"></ion-icon>
          </ion-button>

          <ion-button
            title="Edit Task List"
            (click)="editTaskListItem(taskList); $event.stopPropagation()"
          >
            <ion-icon
              name="settings-outline"
              class="tasks-edit-icon"
            ></ion-icon>
          </ion-button>
          <ion-button
            title="Edit Tasks"
            (click)="editTaskList(taskList); $event.stopPropagation()"
          >
            <ion-icon
              name="list-circle-outline"
              class="tasks-edit-icon"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToAdminSettings()" title="Settings">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addNewTaskList()" title="Add Task List">
        <ion-icon name="add-outline" class="add-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
