.task {
  &-name {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 1.25rem;
  }
  &-name.completed {
    color: #4caf50;
  }
  &-description,
  &-completed,
  &-length {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 1.25rem;
  }
  &-timer-container {
    margin-left: 1.25rem;
    display: flex;
    justify-content: center;
  }
  &-task-timer {
    align-items: center;
  }
  &-none-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
  }
}

.ellipse-icon {
  color: red;
  margin-right: 1rem;
}

.checkmark-icon {
  color: #aaa;
  margin-right: 1rem;
}

.checkmark-icon.completed {
  color: #4caf50;
}

.trash-icon {
  color: red;
}

.build-icon,
.timer-icon {
  color: white;
}
