<ion-header>
  <ion-toolbar>
    <ion-title class="i-title">{{ taskList?.name }}</ion-title>
    <ion-buttons slot="end" class="i-buttons-end">
      <ion-button (click)="openNewTaskModal()" title="Add">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-accordion-group>
    <ng-container *ngIf="tasks.length === 0">
      <div class="task-none-message">
        <ion-text class="ion-padding">
          <h2>
            No tasks yet,
            <a (click)="openNewTaskModal()"
              >add one <ion-icon slot="icon-only" name="add"></ion-icon
            ></a>
          </h2>
        </ion-text>
      </div>
    </ng-container>

    <ng-container *ngFor="let task of tasks">
      <ion-accordion [value]="task.id" class="i-accordion-item">
        <ion-item slot="header" color="light">
          <ion-icon
            *ngIf="!task.completed"
            name="ellipse-outline"
            class="ellipse-icon"
          ></ion-icon>
          <ion-icon
            *ngIf="task.completed"
            name="checkmark-circle-outline"
            [ngClass]="{ completed: task.completed }"
            class="checkmark-icon"
          ></ion-icon>
          <ion-label
            class="task-name"
            [ngClass]="{ completed: task.completed }"
            >{{ task.name }}</ion-label
          >
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-toolbar>
            <ion-buttons>
              <ion-buttons slot="start">
                <ion-button
                  *ngIf="!task.completed"
                  (click)="startTimer(task); $event.stopPropagation()"
                >
                  <ion-icon name="timer-outline" class="timer-icon"></ion-icon>
                </ion-button>

                <ion-button (click)="editTask(task); $event.stopPropagation()">
                  <ion-icon name="build-outline" class="build-icon"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-buttons>
            <ion-buttons slot="end" class="i-buttons-end">
              <ion-button
                *ngIf="!task.completed"
                (click)="
                  presentConfirmDelete(task.id); $event.stopPropagation()
                "
              >
                <ion-icon name="trash-outline" class="trash-icon"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>

          <p class="task-description">Description: {{ task.description }}</p>
          <p class="task-completed">
            Completed: {{ task.completed ? "Yes" : "No" }}
          </p>
          <p class="task-length">Time Length: {{ task.timeLength }} minutes</p>
        </div>
      </ion-accordion>
    </ng-container>
  </ion-accordion-group>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" class="i-buttons-start">
      <ion-button (click)="goToTasksHome()" title="Home">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="task-timer-container">
      <app-timer
        class="task-timer"
        [task]="selectedTask"
        (timerCompleted)="onTimerCompleted()"
      ></app-timer>
    </div>
    <ion-buttons slot="end" class="i-buttons-end">
      <ion-button (click)="openNewTaskModal()" title="Add">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
