.task {
  &-name {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 1.25rem;
  }
  &-name.completed {
    color: #4caf50;
  }
  &-description {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 1.25rem;
  }
  &-timer {
    margin-left: 1.25rem;
  }
  &-none-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
  }
}

.checkmark-icon {
  color: #aaa;
  margin-right: 1rem;
}

.checkmark-icon.completed {
  color: #4caf50;
}

.ellipse-icon {
  color: red;
  margin-right: 1rem;
}

.trash-icon {
  color: red;
}

.build-icon,
.timer-icon {
  color: white;
}

.timer-container {
  display: flex;
  align-items: center;
}

.counter {
  font-size: 0.8em; // Adjust the font size to better fit within the toolbar
  margin-right: 8px;
}

.i-card {
  background-color: #222328;
  padding: 1.5rem;
  border: 1px solid #626262;
}

ion-card ion-toolbar {
  --background: #222328;
}
