/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Roboto Thin";
  src: url("./assets/fonts/Roboto-Thin.ttf") format("woff2"),
    url("./assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Roboto Regular */
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("woff2"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Roboto Medium */
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Medium.ttf") format("woff2"),
    url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: #000;
}

.i {
  &-title {
    font-family: "Roboto Thin", sans-serif;
    color: white;
    font-size: 1.5rem;
  }

  &-buttons-start {
    margin-left: 1.5rem;
  }

  &-buttons-end {
    margin-right: 1.5rem;
  }

  &-card {
    background-color: #2e2f2e;

    &-title {
      color: #fff;
      font-size: 1.1rem;
    }
  }

  &-accordion-item {
    padding: 0.5rem 0;
    margin-bottom: 0.25rem;
    background-color: #222328;
  }
}

ion-toolbar {
  --background: #2e2f2e;
  --padding-top: 0.5rem;
  --padding-bottom: 0.5rem;
}

.task-button {
  --border-color: #777373;
  --border-style: solid;
  --border-width: 0.5px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
}
